<ion-view cache-view="false" class="argiak">
    <ion-nav-title translate>ARGIAK</ion-nav-title>
    <ion-content class="ion-content-custom">
        <div id="id_div_argiak_sabaiko_argiak"> 
          <h4 translate>SABAIKO ARGIAK</h4>
          <div class="row">
                        <div class="col col_flex_none col_argiak_vertical_align_center">
                            <label><translate>LEHEND</translate></label>
                        </div>
                        <div class="col col_flex_none">
                            <button id="id_button_argiak_presi_techo_itzali" class="button" ng-click="argiak_lehend_itzali_click()" translate>ITZALI</button>
                        </div>
                        <div class="col col_flex_none">
                            <button class="button" ng-click="argiak_lehend_ken_click()">-</button>
                        </div>
                        <div class="col col_flex_none">
                            <!--
                            <progress class="vert" max="100" value="{{argiak_lehend_value}}"></progress>
                            -->
                            <meter class="meter_class" max="100" value="{{argiak_lehend_value}}"></meter>
                        </div>                                                                        
                        <div class="col col_flex_none">
                            <button class="button" ng-click="argiak_lehend_gehi_click()">+</button>
                        </div>
                        <div class="col col_flex_none">
                            <button id="id_button_argiak_presi_techo_aktibatu" class="button" ng-click="argiak_lehend_piztu_click()" translate>PIZTU</button>
                        </div>
          </div>
          <div class="row">
                        <div class="col col_flex_none col_argiak_vertical_align_center">
                            <label><translate>PASABIDE</translate></label>
                        </div>
                        <div class="col col_flex_none">
                            <button id="id_button_argiak_pasillo_techo_itzali" class="button" ng-click="argiak_pasabide_itzali_click()" translate>ITZALI</button>
                        </div>
                        <div class="col col_flex_none">
                            <button class="button" ng-click="argiak_pasabide_ken_click()">-</button>
                        </div>
                        <div class="col col_flex_none">
                            <!--
                            <progress class="vert" max="100" value="{{argiak_pasabide_value}}"></progress>
                            -->
                            <meter class="meter_class" max="100" value="{{argiak_pasabide_value}}"></meter>
                        </div>                                                                        
                        <div class="col col_flex_none">
                            <button class="button" ng-click="argiak_pasabide_gehi_click()">+</button>
                        </div>
                        <div class="col col_flex_none">
                            <button id="id_button_argiak_pasillo_techo_aktibatu" class="button" ng-click="argiak_pasabide_piztu_click()" translate>PIZTU</button>
                        </div>
          </div>
          <div class="row">
                        <div class="col col_flex_none col_argiak_vertical_align_center">
                            <label><translate>IKASLEAK</translate></label>
                        </div>
                        <div class="col col_flex_none">
                            <button id="id_button_argiak_alumnos_techo_itzali" class="button" ng-click="argiak_ikasleak_itzali_click()" translate>ITZALI</button>
                        </div>
                        <div class="col col_flex_none">
                            <button class="button" ng-click="argiak_ikasleak_ken_click()">-</button>
                        </div>
                        <div class="col col_flex_none">
                            <!--
                            <progress class="vert" max="100" value="{{argiak_ikasleak_value}}"></progress>
                            -->
                            <meter class="meter_class" max="100" value="{{argiak_ikasleak_value}}"></meter>
                        </div>                                                                        
                        <div class="col col_flex_none">
                            <button class="button" ng-click="argiak_ikasleak_gehi_click()">+</button>
                        </div>
                        <div class="col col_flex_none">
                            <button id="id_button_argiak_alumnos_techo_aktibatu" class="button" ng-click="argiak_ikasleak_piztu_click()" translate>PIZTU</button>
                        </div>
          </div>
          <div class="row">
                        <div class="col col_flex_none">
                            <button class="button" ng-click="argiak_sabaia_itzali_click()" translate>ITZALI SABAIA</button>
                        </div>
                        <div class="col col_flex_none">
                            <button class="button" ng-click="argiak_sabaia_piztu_click()" translate>PIZTU SABAIA</button>
                        </div>
          </div>    
        </div>
        <div id="id_div_argiak_lurreko_argiak"> 
          <h4 translate>LURREKO ARGIAK</h4>
          <div class="row">
                        <div class="col col_flex_none col_argiak_vertical_align_center">
                            <label><translate>PASABIDE</translate></label>
                        </div>
                        <div class="col col_flex_none">
                            <button id="id_button_argiak_pasillo_suelo_itzali" class="button" ng-click="argiak_lurreko_pasabide_itzali_click()" translate>ITZALI</button>
                        </div>
                        <div class="col col_flex_none">
                            <button class="button" ng-click="argiak_lurreko_pasabide_ken_click()">-</button>
                        </div>
                        <div class="col col_flex_none">
                            <!--
                            <progress class="vert" max="100" value="{{argiak_lurreko_pasabide_value}}"></progress>
                            -->
                            <meter class="meter_class" max="100" value="{{argiak_lurreko_pasabide_value}}"></meter>
                        </div>                                                                        
                        <div class="col col_flex_none">
                            <button class="button" ng-click="argiak_lurreko_pasabide_gehi_click()">+</button>
                        </div>
                        <div class="col col_flex_none">
                            <button id="id_button_argiak_pasillo_suelo_aktibatu" class="button" ng-click="argiak_lurreko_pasabide_piztu_click()" translate>PIZTU</button>
                        </div>
          </div>
          <div class="row">
                        <div class="col col_flex_none col_argiak_vertical_align_center">
                            <label><translate>IKASLEAK</translate></label>
                        </div>
                        <div class="col col_flex_none">
                            <button id="id_button_argiak_alumnos_suelo_itzali" class="button" ng-click="argiak_lurreko_ikasleak_itzali_click()" translate>ITZALI</button>
                        </div>
                        <div class="col col_flex_none">
                            <button class="button" ng-click="argiak_lurreko_ikasleak_ken_click()">-</button>
                        </div>
                        <div class="col col_flex_none">
                            <!--
                            <progress class="vert" max="100" value="{{argiak_lurreko_ikasleak_value}}"></progress>
                            -->
                            <meter class="meter_class" max="100" value="{{argiak_lurreko_ikasleak_value}}"></meter>
                        </div>                                                                        
                        <div class="col col_flex_none">
                            <button class="button" ng-click="argiak_lurreko_ikasleak_gehi_click()">+</button>
                        </div>
                        <div class="col col_flex_none">
                            <button id="id_button_argiak_alumnos_suelo_aktibatu" class="button" ng-click="argiak_lurreko_ikasleak_piztu_click()" translate>PIZTU</button>
                        </div>
          </div>
          <div class="row">
                        <div class="col col_flex_none">
                            <button class="button" ng-click="argiak_lurra_itzali_click()" translate>ITZALI LURRA</button>
                        </div>
                        <div class="col col_flex_none">
                            <button class="button" ng-click="argiak_lurra_piztu_click()" translate>PIZTU LURRA</button>
                        </div>
          </div>  
        </div>
        <div id="id_div_argiak_lurreko_argiak"> 
          <h4 translate>GUZTIAK</h4>
          <div class="row">
                        <div class="col col_flex_none">
                            <button class="button" ng-click="argiak_guztiak_itzali_click()" translate>ITZALI DENA</button>
                        </div>
                        <div class="col col_flex_none">
                            <button class="button" ng-click="argiak_guztiak_piztu_click()" translate>ARGI GUZTIAK</button>
                        </div>
          </div>
        </div>  
    </ion-content>   
</ion-view>