<ion-view cache-view="false">
    <ion-nav-title>Log</ion-nav-title>
        <ion-content class="ion-content-custom-textarea">
            <div class="row">
                <div class="col">
                    <textarea rows="40" cols="125" style="border:1px solid;">{{socket_log_value}}</textarea>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="button" ng-click="log_garbitu_click()" translate>Garbitu</button>
                </div>
            </div>
        </ion-content>
</ion-view>  