<ion-side-menus enable-menu-with-back-views="false">
   <!--intelsat-2015-->
   <!--NavCtrl gehitu da-->
  <ion-side-menu-content>
    <!--intelsat-2015-->
    <!--  
    <ion-nav-bar class="bar-stable">
    -->
    <ion-nav-bar class="bar-positive">
      <!--  
      <ion-nav-back-button>
      </ion-nav-back-button>
      -->
      <ion-nav-buttons side="left">
      
        <!--intelsat-2015-->
        <!--showMenu gehitu da-->
        
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <!--expose-aside-when
  menua beti visible egoteko
  -->
  <!--
  <ion-side-menu side="left" expose-aside-when="large" class="ion_side_menu_custom" id="ion_side_menu_custom">
  -->
  <ion-side-menu side="left" class="ion_side_menu_custom" id="ion_side_menu_custom">
  
    <!--intelsat-2015-->  
    <!--  
    <ion-header-bar class="bar-stable">
    -->
    <ion-header-bar class="bar bar-header bar-assertive">    
      <h1 class="title"></h1>
    </ion-header-bar>
    <!--intelsat-2015 has-header gehitu da-->
    <ion-content has-header="true">
      <ion-list>
        <!--intelsat-2015  
        <ion-item nav-clear menu-close ng-click="login()">
          Login
        </ion-item>
        -->
        <ion-item id="id_ion_item_ongi_etorri_menu" nav-clear menu-close href="#/app/ongi_etorri" ng-click="on_ongi_etorri_menu_click()" ng-hide="true">
          <translate>Ongi Etorri</translate>
        </ion-item>
        <ion-item id="id_ion_item_hasiera_menu" nav-clear menu-close href="#/app/hasiera" ng-click="on_hasiera_menu_click()">
          <translate>Eszenarioak</translate>
        </ion-item>
        <!--
        <ion-item nav-clear menu-close href="#/tab/grabazioa" ng-click="on_nagusia_menu_click()">
          <translate>Nagusia</translate>
        </ion-item>
        -->
        <ion-item id="id_ion_item_nagusia_menu" nav-clear menu-close href="#/app/nagusia" ng-click="on_nagusia_menu_click()">
          <translate>Nagusia</translate>
        </ion-item>
        <ion-item id="id_ion_item_deitu_eskegi_menu" nav-clear menu-close href="#/app/deitu_eskegi" ng-click="on_deitu_eskegi_menu_click()" style="display:none;">
          <translate>Deitu/Eskegi</translate>
        </ion-item>
        <ion-item id="id_ion_item_soinua_menu" nav-clear menu-close href="#/app/soinua" ng-click="on_soinua_menu_click()">
          <translate>Soinua</translate>
        </ion-item>
        <ion-item id="id_ion_item_argiak_menu" nav-clear menu-close href="#/app/argiak" ng-click="on_argiak_menu_click()">
          <translate>Argiak</translate>
        </ion-item>
        <ion-item id="id_ion_item_log_menu" nav-clear menu-close href="#/app/log" ng-click="on_log_menu_click()">
          Log
        </ion-item>
        <ion-item id="id_ion_item_itzali_menu" nav-clear menu-close href="#/app/itzali" ng-click="on_itzali_menu_click()">
          <translate>Itzali</translate>
        </ion-item>
        <ion-item id="id_ion_item_grabazioa_menu" nav-clear menu-close href="#/app/grabazioa" ng-hide="true">
          <translate>Grabazioa</translate>
        </ion-item>
        <ion-item id="id_ion_item_think_client_sarea_menu" nav-clear menu-close href="#/app/think_client_sarea" ng-hide="true">
          <translate>Think client sarea</translate>
        </ion-item>
        <ion-item id="id_ion_item_feedback_menu" nav-clear menu-close href="#/app/feedback" ng-hide="true">
          <translate>Feedback</translate>
        </ion-item>
        <ion-item id="id_ion_item_sarrera_menu" nav-clear menu-close href="#/app/sarrera" ng-hide="true">
          <translate>Sarrera</translate>
        </ion-item>
        <ion-item id="id_ion_item_plasma_menu" nav-clear menu-close href="#/app/plasma" ng-hide="true">
          <translate>Plasma</translate>
        </ion-item>
         <ion-item id="id_ion_item_proiektorea_menu" nav-clear menu-close href="#/app/proiektorea" ng-hide="true">
          <translate>Proiektorea</translate>
        </ion-item>
        <ion-item id="id_ion_item_proiektore_zentrala" nav-clear menu-close href="#/app/proiektore_zentrala" ng-hide="true">
          <translate>Proiektore zentrala</translate>
        </ion-item>
        <ion-item id="id_ion_item_dvd" nav-clear menu-close href="#/app/dvd" ng-hide="true">
          <translate>Dvd</translate>
        </ion-item>
        <ion-item id="id_ion_item_kamara1" nav-clear menu-close href="#/app/camara1" ng-hide="true">
          <translate>Kamara</translate>1
        </ion-item>
        <ion-item id="id_ion_item_kamara2" nav-clear menu-close href="#/app/camara2" ng-hide="true">
          <translate>Kamara</translate>2
        </ion-item>
        <ion-item id="id_ion_item_kamara3" nav-clear menu-close href="#/app/camara3" ng-hide="true">
          <translate>Kamara</translate>3
        </ion-item>
        <ion-item id="id_ion_item_dokumentu_kamera" nav-clear menu-close href="#/app/dokumentu_kamera" ng-hide="true">
          <translate>Dokumentu kamera</translate>
        </ion-item>
        <ion-item id="id_ion_item_ordenadore_nagusia" nav-clear menu-close href="#/app/ordenadore_nagusia" ng-hide="true">
          <translate>Ordenadore nagusia</translate>
        </ion-item>
        <ion-item id="id_ion_item_kamara_posizioak" nav-clear menu-close href="#/app/kamara_posizioak" ng-hide="true">
          <translate>Kamara posizioak</translate>
        </ion-item>
        <!--
        <ion-item nav-clear menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/playlists">
          Playlists
        </ion-item>
        -->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>