<ion-view cache-view="false">
    <ion-nav-title translate>NAGUSIA</ion-nav-title>
    <ion-content>
        <div class="row row_menu_nagusia row_nagusia_dispositiboa">
            
            <div class="col col_flex_none col_menu_nagusia">    
                <div class="div_menu_nagusia" ng-include src="'templates/menu_nagusia.html'"></div>
            </div>
            <div class="col col_flex_none">
             <div class="row">
                &nbsp;
             </div>
             </div>
         </div>
    </ion-content>    
</ion-view>    