<ion-view cache-view="false">
    <ion-nav-title translate>POPUP ADIBIDEAK</ion-nav-title>
    <!--
    <ion-content class="ion-content-custom">
    -->
    <ion-content>
        <div class="row">        
                <div class="col col_flex_none">
                    <button id="id_button_simulando_popup_proiektorea_itzali" class="button" ng-click="simulando_popup_proiektorea_itzali_click();" translate>PROIEKTOREA ITZALI</button>
                </div>
        </div>
        <div class="row">        
                <div class="col col_flex_none">
                    <button id="id_button_simulando_popup_espera" class="button" ng-click="simulando_popup_espera_click();" translate>ITXARON</button>
                </div>
        </div>
         <div class="row">        
                <div class="col col_flex_none">
                    <button id="id_button_simulando_popup_errorea" class="button" ng-click="simulando_popup_errorea_click();" translate>ERROREA</button>
                </div>
        </div>
        <div class="row">        
                <div class="col col_flex_none">
                    <button id="id_button_simulando_popup_alerta" class="button" ng-click="simulando_popup_alerta_click();">ALERT</button>
                </div>
        </div>
    </ion-content>
</ion-view>  