<ion-view cache-view="false" class="soinua">
    <ion-nav-title translate>SOINUA</ion-nav-title>
    <ion-content class="ion-content-custom">
        <div id="id_div_soinua_mikrofonoak_aktibatu_doitu"> 
          <h4 translate>MIKROFONOAK AKTIBATU ETA DOITU</h4>
          <div class="row">
                        <div class="col col_flex_none col_bolumena_vertical_align_center egoera">
                            <label class="litletitle"><translate>mikr1</translate></label>
                        </div>
                        <div class="col col_flex_none">
                            <button id="id_button_soinua_mic1_desaktibatu" class="button" ng-click="soinua_mikr1_bolumena_desaktibatu_click()" translate>DESAKTIBATU</button>
                        </div>
                        <div class="col col_flex_none">
                            <button class="button" ng-click="soinua_mikr1_bolumena_ken_click()">-</button>
                        </div>
                        <div class="col col_flex_none">
                            <!--
                            <progress class="vert" max="100" value="{{soinua_mikr1_bolumena_value}}"></progress>
                            -->
                            <meter class="meter_class" max="100" value="{{soinua_mikr1_bolumena_value}}"></meter>
                        </div>                                                                        
                        <div class="col col_flex_none">
                            <button class="button" ng-click="soinua_mikr1_bolumena_gehi_click()">+</button>
                        </div>
                        <div class="col col_flex_none">
                            <button id="id_button_soinua_mic1_aktibatu" class="button" ng-click="soinua_mikr1_bolumena_aktibatu_click()" translate>AKTIBATU</button>
                        </div>
          </div>
          <div class="row">
                        <div class="col col_flex_none col_bolumena_vertical_align_center">
                            <label><translate>mikr2</translate></label>
                        </div>
                        <div class="col col_flex_none">
                            <button id="id_button_soinua_mic2_desaktibatu" class="button" ng-click="soinua_mikr2_bolumena_desaktibatu_click()" translate>DESAKTIBATU</button>
                        </div>
                        <div class="col col_flex_none">
                            <button class="button" ng-click="soinua_mikr2_bolumena_ken_click()">-</button>
                        </div>
                        <div class="col col_flex_none">
                            <!--
                            <progress class="vert" max="100" value="{{soinua_mikr2_bolumena_value}}"></progress>
                            -->
                            <meter class="meter_class" max="100" value="{{soinua_mikr2_bolumena_value}}"></meter>
                        </div>                                                                        
                        <div class="col col_flex_none">
                            <button class="button" ng-click="soinua_mikr2_bolumena_gehi_click()">+</button>
                        </div>
                        <div class="col col_flex_none">
                            <button id="id_button_soinua_mic2_aktibatu" class="button" ng-click="soinua_mikr2_bolumena_aktibatu_click()" translate>AKTIBATU</button>
                        </div>
          </div>
          <div class="row">
                        <div class="col col_flex_none col_bolumena_vertical_align_center">
                            <label><translate>mikr3</translate></label>
                        </div>
                        <div class="col col_flex_none">
                            <button id="id_button_soinua_mic3_desaktibatu" class="button" ng-click="soinua_mikr3_bolumena_desaktibatu_click()" translate>DESAKTIBATU</button>
                        </div>
                        <div class="col col_flex_none">
                            <button class="button" ng-click="soinua_mikr3_bolumena_ken_click()">-</button>
                        </div>
                        <div class="col col_flex_none">
                            <!--
                            <progress class="vert" max="100" value="{{soinua_mikr3_bolumena_value}}"></progress>
                            -->
                            <meter class="meter_class" max="100" value="{{soinua_mikr3_bolumena_value}}"></meter>
                        </div>                                                                        
                        <div class="col col_flex_none">
                            <button class="button" ng-click="soinua_mikr3_bolumena_gehi_click()">+</button>
                        </div>
                        <div class="col col_flex_none">
                            <button id="id_button_soinua_mic3_aktibatu" class="button" ng-click="soinua_mikr3_bolumena_aktibatu_click()" translate>AKTIBATU</button>
                        </div>
          </div>
          <div class="row">
                        <div class="col col_flex_none col_bolumena_vertical_align_center">
                            <label><translate>mikr4</translate></label>
                        </div>
                        <div class="col col_flex_none">
                            <button id="id_button_soinua_mic4_desaktibatu" class="button" ng-click="soinua_mikr4_bolumena_desaktibatu_click()" translate>DESAKTIBATU</button>
                        </div>
                        <div class="col col_flex_none">
                            <button class="button" ng-click="soinua_mikr4_bolumena_ken_click()">-</button>
                        </div>
                        <div class="col col_flex_none">
                            <!--
                            <progress class="vert" max="100" value="{{soinua_mikr4_bolumena_value}}"></progress>
                            -->
                            <meter class="meter_class" max="100" value="{{soinua_mikr4_bolumena_value}}"></meter>
                        </div>                                                                        
                        <div class="col col_flex_none">
                            <button class="button" ng-click="soinua_mikr4_bolumena_gehi_click()">+</button>
                        </div>
                        <div class="col col_flex_none">
                            <button id="id_button_soinua_mic4_aktibatu" class="button" ng-click="soinua_mikr4_bolumena_aktibatu_click()" translate>AKTIBATU</button>
                        </div>
          </div>
          <div class="row">
                        <div class="col col_flex_none col_bolumena_vertical_align_center">
                            <label><translate>mikr eskukoa</translate></label>
                        </div>
                        <div class="col col_flex_none">
                            <button id="id_button_soinua_mic_atril_desaktibatu" class="button" ng-click="soinua_mikr_atril_bolumena_desaktibatu_click()" translate>DESAKTIBATU</button>
                        </div>
                        <div class="col col_flex_none">
                            <button class="button" ng-click="soinua_mikr_atril_bolumena_ken_click()">-</button>
                        </div>
                        <div class="col col_flex_none">
                            <!--
                            <progress class="vert" max="100" value="{{soinua_mikr_atril_bolumena_value}}"></progress>
                            -->
                            <meter class="meter_class" max="100" value="{{soinua_mikr_atril_bolumena_value}}"></meter>
                        </div>                                                                        
                        <div class="col col_flex_none">
                            <button class="button" ng-click="soinua_mikr_atril_bolumena_gehi_click()">+</button>
                        </div>
                        <div class="col col_flex_none">
                            <button id="id_button_soinua_mic_atril_aktibatu" class="button" ng-click="soinua_mikr_atril_bolumena_aktibatu_click()" translate>AKTIBATU</button>
                        </div>
          </div>
          <div class="row">
                        <div class="col col_flex_none col_bolumena_vertical_align_center">
                            <label><translate>mikr atril2</translate></label>
                        </div>
                        <div class="col col_flex_none">
                            <button id="id_button_soinua_mic_atril2_desaktibatu" class="button" ng-click="soinua_mikr_atril2_bolumena_desaktibatu_click()" translate>DESAKTIBATU</button>
                        </div>
                        <div class="col col_flex_none">
                            <button class="button" ng-click="soinua_mikr_atril2_bolumena_ken_click()">-</button>
                        </div>
                        <div class="col col_flex_none">
                            <!--
                            <progress class="vert" max="100" value="{{soinua_mikr_atril2_bolumena_value}}"></progress>
                            -->
                            <meter class="meter_class" max="100" value="{{soinua_mikr_atril2_bolumena_value}}"></meter>
                        </div>                                                                        
                        <div class="col col_flex_none">
                            <button class="button" ng-click="soinua_mikr_atril2_bolumena_gehi_click()">+</button>
                        </div>
                        <div class="col col_flex_none">
                            <button id="id_button_soinua_mic_atril2_aktibatu" class="button" ng-click="soinua_mikr_atril2_bolumena_aktibatu_click()" translate>AKTIBATU</button>
                        </div>
          </div>
          <div class="row" style="display:none;">
                        <div class="col col_flex_none col_bolumena_vertical_align_center">
                            <label><translate>mikr eskukoa</translate></label>
                        </div>
                        <div class="col col_flex_none">
                            <button id="id_button_soinua_mic_eskua_desaktibatu" class="button" ng-click="soinua_mikr_eskua_bolumena_desaktibatu_click()" translate>DESAKTIBATU</button>
                        </div>
                        <div class="col col_flex_none">
                            <button class="button" ng-click="soinua_mikr_eskua_bolumena_ken_click()">-</button>
                        </div>
                        <div class="col col_flex_none">
                            <meter class="meter_class" max="100" value="{{soinua_mikr_eskua_bolumena_value}}"></meter>
                        </div>                                                                        
                        <div class="col col_flex_none">
                            <button class="button" ng-click="soinua_mikr_eskua_bolumena_gehi_click()">+</button>
                        </div>
                        <div class="col col_flex_none">
                            <button id="id_button_soinua_mic_eskua_aktibatu" class="button" ng-click="soinua_mikr_eskua_bolumena_aktibatu_click()" translate>AKTIBATU</button>
                        </div>
          </div>
          <div class="row">
                        <div class="col col_flex_none col_bolumena_vertical_align_center">
                            <label><translate>mikr papar</translate></label>
                        </div>
                        <div class="col col_flex_none">
                            <button id="id_button_soinua_mic_papar_desaktibatu" class="button" ng-click="soinua_mikr_papar_bolumena_desaktibatu_click()" translate>DESAKTIBATU</button>
                        </div>
                        <div class="col col_flex_none">
                            <button class="button" ng-click="soinua_mikr_papar_bolumena_ken_click()">-</button>
                        </div>
                        <div class="col col_flex_none">
                            <!--
                            <progress class="vert" max="100" value="{{soinua_mikr_papar_bolumena_value}}"></progress>
                            -->
                            <meter class="meter_class" max="100" value="{{soinua_mikr_papar_bolumena_value}}"></meter>
                        </div>                                                                        
                        <div class="col col_flex_none">
                            <button class="button" ng-click="soinua_mikr_papar_bolumena_gehi_click()">+</button>
                        </div>
                        <div class="col col_flex_none">
                            <button id="id_button_soinua_mic_papar_aktibatu" class="button" ng-click="soinua_mikr_papar_bolumena_aktibatu_click()" translate>AKTIBATU</button>
                        </div>
          </div>
        </div>
        <div id="id_div_soinuen_mailak_doitu"> 
          <h4 translate>SOINUEN MAILAK DOITU</h4>
          <div class="row">
                        <div class="col col_flex_none col_soinuen_mailak_doitu_vertical_align_center">
                            <label><translate>DATORREN SOINUA</translate></label>
                        </div>
                        <div class="col col_flex_none">
                            <button id="id_button_soinua_datorren_soinua_isilarazi" class="button" ng-click="soinua_datorren_soinua_isilarazi_click()" translate>ISILARAZI</button>
                        </div>
                        <div class="col col_flex_none">
                            <button id="id_button_soinua_datorren_soinua_aktibatu" class="button" ng-click="soinua_datorren_soinua_aktibatu_click()" translate>AKTIBATU</button>
                        </div>
           </div>
           <div class="row">
                        <div class="col col_flex_none col_soinuen_mailak_doitu_vertical_align_center">
                            <label><translate>BIDALTZEN DEN SOINUA</translate></label>
                        </div>
                        <div class="col col_flex_none">
                            <button id="id_button_soinua_bidaltzen_soinua_isilarazi" class="button" ng-click="soinua_bidaltzen_soinua_isilarazi_click()" translate>ISILARAZI</button>
                        </div>
                        <div class="col col_flex_none">
                            <button id="id_button_soinua_bidaltzen_soinua_aktibatu" class="button" ng-click="soinua_bidaltzen_soinua_aktibatu_click()" translate>AKTIBATU</button>
                        </div>
           </div>
           <div class="row">
                        <div class="col col_flex_none col_soinuen_mailak_doitu_vertical_align_center">
                            <label><translate>SOINU OROKORRA</translate></label>
                        </div>
                        <div class="col col_flex_none">
                            <button id="id_button_soinua_orokorra_soinua_isilarazi" class="button" ng-click="soinua_soinu_orokorra_isilarazi_click()" translate>ISILARAZI</button>
                        </div>
                        <div class="col col_flex_none">
                            <button id="id_button_soinua_orokorra_soinua_aktibatu" class="button" ng-click="soinua_soinu_orokorra_aktibatu_click()" translate>AKTIBATU</button>
                        </div>
           </div>
            <div class="row">
                        <div class="col col_flex_none col_soinuen_mailak_doitu_vertical_align_center">
                            <label><translate>BOLUMENA</translate></label>
                        </div>
                        <div class="col col_flex_none">
                            <button class="button" ng-click="soinua_soinuen_mailak_doitu_bolumena_ken_click()">-</button>
                        </div>
                        <div class="col col_flex_none">
                            <!--
                            <progress class="vert" max="100" value="{{soinua_bolumena_value}}"></progress>
                            -->
                            <meter class="meter_class" max="100" value="{{soinua_bolumena_value}}"></meter>
                        </div>                                                                        
                        <div class="col col_flex_none">
                            <button class="button" ng-click="soinua_soinuen_mailak_doitu_bolumena_gehi_click()">+</button>
                        </div>                        
          </div> 
        </div>  
    </ion-content>   
</ion-view>