<ion-view cache-view="false">
    <ion-nav-title translate>THINK CLIENT SAREA</ion-nav-title>    
    <ion-content>
    <div class="row row_menu_nagusia think-client-sarea">
            <div class="col col_flex_none col_menu_nagusia">    
                <div class="div_menu_nagusia" ng-include src="'templates/menu_nagusia.html'"></div>
            </div>
        <div class="col col_flex_none">    
            <div class="row">        
                <div class="col col-33">
                    <button id="id_button_nagusia_think_client_sarea_portatil1" class="button button-block" ng-click="thin_client_sarea_portatil1_click($event);" ng-mouseup="thin_client_sarea_portatil1_mouseup($event);"><translate>PORTATIL</translate>1</button>
                </div>
                <div class="col col-33">
                  <button id="id_button_nagusia_think_client_sarea_portatil2" class="button button-block" ng-click="thin_client_sarea_portatil2_click($event);" ng-mouseup="thin_client_sarea_portatil2_mouseup($event);"><translate>PORTATIL</translate>2</button>
                </div>
                <div class="col col-33">
                  <button id="id_button_nagusia_think_client_sarea_portatil3" class="button button-block" ng-click="thin_client_sarea_portatil3_click($event);" ng-mouseup="thin_client_sarea_portatil3_mouseup($event);"><translate>PORTATIL</translate>3</button>
                </div>
            </div>
            <div class="row">        
                <div class="col col-50">
                  <button id="id_button_nagusia_think_client_sarea_think_client" class="button button-block" ng-click="thin_client_sarea_think_client_click($event);" ng-mouseup="thin_client_sarea_think_client_mouseup($event);" translate>THINK CLIENT</button>
                </div>
                <div class="col col-50">
                  <button id="id_button_nagusia_think_client_sarea_pcsuelo" class="button button-block" ng-click="thin_client_sarea_pclurra_click($event);" ng-mouseup="thin_client_sarea_pclurra_mouseup($event);" translate>PCLURRA</button>
                </div>
            </div>
            <div class="row">                        
                <div class="col col-70">
                  <button id="id_button_nagusia_think_client_sarea_camara_de_documentos" class="button button-block" ng-click="thin_client_sarea_dokumentu_kamera_click($event);" ng-mouseup="thin_client_sarea_dokumentu_kamera_mouseup($event);" translate>DOKUMENTU KAMERA</button>
                </div>
                <div class="col col-25">
                  <button id="id_button_nagusia_think_client_sarea_atril" class="button button-block" ng-click="thin_client_sarea_atril_click($event);" ng-mouseup="thin_client_sarea_atril_mouseup($event);" translate>ATRIL</button>
                </div>               
            </div>
        </div>
    </div>    
    </ion-content>
</ion-view>