<ion-view cache-view="false">
    <ion-nav-title translate>PRESIDENTZIA PANTAILA</ion-nav-title>
    <!--
    <ion-content class="ion-content-custom">
    -->
    <ion-content>
        <!--<div class="row row_menu_nagusia">
            <div class="col col_flex_none col_menu_nagusia">    
                <div class="div_menu_nagusia" ng-include src="'templates_mugikorra/menu_nagusia.html'"></div>
            </div>-->
        <div class="col col_flex_none">
        <div id="id_div_feedback_pantaila_piztu_itzali">   
          <h4 translate>PANTAILA PIZTU/ITZALI</h4>
            <div class="row" style="display:none;">       
                <div class="col col-50">
                    <button id="id_button_nagusia_feedback_piztu" class="button button-block" ng-click="nagusia_feedback_piztu_click();" translate>PIZTU</button>
                </div>
                <div class="col col-50">
                  <button id="id_button_nagusia_feedback_itzali" class="button button-block" ng-click="nagusia_feedback_itzali_click();" translate>ITZALI</button>
                </div>                
            </div>
            <div class="row">
                <div class="col col_flex_none">
                    <ion-toggle toggle-class="toggle-calm" ng-model=feedback_piztu ng-disabled=feedback_piztu_disabled ng-change="feedback_piztu_toggle_change()">&nbsp;</ion-toggle>
                </div>
            </div>    
            <div class="row">    
                <div class="col col_flex_none col_plasma_egoera">
                    <input id="id_feedback_piztu_text" type="text" class="input-text-border" value="{{feedback_piztu_text}}" size="45" readonly="readonly"/>
                </div>
            </div>
        </div>
        <div id="id_div_feedback_erakusteko_imajina">   
          <h4 translate>ERAKUSTEKO IMAJINA</h4>
            <!--
            <div class="row">        
                <div class="col col_flex_none">
                    <button id="id_button_nagusia_feedback_mostrar_contraparte" class="button button-block" ng-click="nagusia_feedback_solaskidea_erakutsi_click();" translate>SOLASKIDEA ERAKUTSI</button>
                </div>
            </div>
            <div class="row">
                <div class="col col_flex_none">
                  <button id="id_button_nagusia_feedback_mostrar_nuestra_imagen" class="button button-block" ng-click="nagusia_feedback_gure_imajina_erakutsi_click();" translate>GURE IMAJINA ERAKUTSI</button>
                </div>                
            </div>
            <div class="row">  
                 <div class="col col_flex_none">
                    <button id="id_button_nagusia_feedback_mostrar_contraparte_y_nuestra_imagen" class="button button-block" ng-click="nagusia_feedback_solaskide_gure_imajina_click();" translate>SOLASKIDE ETA GURE IMAJINA</button>
                </div>
            </div>
            -->
            <div class="row">        
                <div class="col col-50">
                    <button id="id_button_nagusia_feedback_erdibitua" class="button button-block" ng-click="nagusia_feedback_erdibitua_click();" translate>P. ERDIBITUA</button>
                </div>
                <div class="col col-50">
                    <button id="id_button_nagusia_feedback_bakarra" class="button button-block" ng-click="nagusia_feedback_bakarra_click();" translate>P. BAKARRA</button>
                </div>               
            </div>
        </div>
        <div id="id_div_feedback_aukeratu">   
          <h4 translate>AUKERATU</h4>
            <div class="row">
                <div class="col col-50">
                  <button id="id_button_nagusia_feedback_dvd" class="button button-block" ng-click="nagusia_feedback_dvd_click();" translate>DVD</button>
                </div>
                <!--
                <div class="col col-50">
                  <button id="id_button_nagusia_feedback_dvdgrab" class="button button-block" ng-click="nagusia_feedback_dvdgrab_click();" translate>DVDGRAB</button>
                </div>
                -->
            </div>
            <div class="row">
                <div class="col col_flex_none">
                  <button id="id_button_nagusia_feedback_camara_de_documentos" class="button button-block" ng-click="nagusia_feedback_dokumentu_kamera_click();" translate>DOKUMENTU KAMERA</button>
                </div>
            </div>            
            <div class="row">        
                <div class="col col-50">
                    <button id="id_button_nagusia_feedback_portatil1" class="button button-block" ng-click="nagusia_feedback_portatil1_click();"><translate>PORTATIL</translate>1</button>
                </div>
                <div class="col col-50">
                  <button id="id_button_nagusia_feedback_portatil2" class="button button-block" ng-click="nagusia_feedback_portatil2_click();"><translate>PORTATIL</translate>2</button>
                </div>
            </div>    
            <div class="row">            
                <div class="col col-50">
                  <button id="id_button_nagusia_feedback_portatil3" class="button button-block" ng-click="nagusia_feedback_portatil3_click();"><translate>PORTATIL</translate>3</button>
                </div>
                <!--
                <div class="col col_flex_none">
                  <button id="id_button_nagusia_feedback_think_client" class="button button-block" ng-click="nagusia_feedback_think_client_click();" translate>THINK CLIENT</button>
                </div>
                -->
            </div>
            <div class="row"> 
                <div class="col col-50">
                  <button id="id_button_nagusia_feedback_pcsuelo" class="button button-block" ng-click="nagusia_feedback_pclurra_click();" translate>PCLURRA</button>
                </div>
                <div class="col col-50">
                  <button id="id_button_nagusia_feedback_atril" class="button button-block" ng-click="nagusia_feedback_atril_click();" translate>ATRIL</button>
                </div>               
            </div>
            <div class="row">
                    <div class="col col-50">
                      <button id="id_button_nagusia_feedback_camara" class="button button-block" ng-click="nagusia_feedback_kamera_click();" translate>KAMERA</button>
                    </div>                             
            </div>
        </div>
        </div>
    </div>         
    </ion-content>    
</ion-view>