<ion-view cache-view="false" class="hasiera">
    <ion-nav-title translate>ESZENARIOAK</ion-nav-title>
  
    <ion-content class="ion-content-custom">
        <div id="id_div_hasiera">
        <h4 translate>Zer egin nahi duzu?</h4>
        
        
      
    
    
      
   

            

<div class="row">
  <div class="col">
      <button class="button button-block" ng-click="hitzaldia_click($event);"><translate>HITZALDIA</translate></button>
  </div>
</div>
<div class="row">        
  <div class="col">
    <button class="button button-block" ng-click="bilera_click($event);" translate>BILERA</button>
  </div>
</div>
<div class="row">        
  <div class="col">
    <button class="button button-block" ng-click="filma_click($event);" translate>FILMA</button>
  </div>
</div>
<!--<div class="row row_kaseak_bidali_jaso">        
  <div class="col col-50">
    <button class="button button-block" ng-click="klaseak_bidali_click($event);" translate>KLASEAK BIDALI</button>
  </div>
  <div class="col col-50">
    <button class="button button-block" ng-click="klaseak_jaso_click($event);" translate>KLASEAK JASO</button>
  </div>  
</div>  -->         
<div class="row row_klaseak_bidali">        
  <div class="col">
    <button class="button button-block" ng-click="klaseak_bidali_click($event);" translate>KLASEAK BIDALI</button>
  </div>
</div>
<div class="row row_klaseak_jaso">      
  <div class="col">
    <button class="button button-block" ng-click="klaseak_jaso_click($event);" translate>KLASEAK JASO</button>
  </div>
</div>

        </div>        
    </ion-content>    
    
       
</ion-view>