<ion-view cache-view="false" class="ongietorri">
    <ion-nav-title translate>ONGI ETORRI TKNIKA-ko SINTA-ra</ion-nav-title>
    <!--
    <ion-content class="ion_content_ongi_etorri">
    -->
    <ion-content>
        <div class="list radio_list_ongi_etorri">
            <h4>{{ongi_etorri_hizkuntza_aukeratu}}</h4>
            <ion-radio ng-repeat="item in hizkuntzak" ng-value="item.value" 
             ng-model="data.hizkuntza" ng-change="hizkuntza_change(item);" style=""> {{ item.text }}
            </ion-radio>
        </div>
        <div class="row">        
            <div class="col col_flex_none">
              <button id="id_button_ongi_etorri_sistema" class="button button-full" ng-click="sistema_click($event);" translate>SISTEMAN SARTU</button>
            </div>
        </div>    
        <div class="row">    
            <div class="col col_flex_none">
              <button id="id_button_ongi_etorri_frogatu" class="button button-full" ng-click="frogatu_click($event);" translate>FROGATU</button>
            </div>  
        </div> 
    </ion-content>    
    
       
</ion-view>