<ion-view cache-view="false">
    <ion-nav-title translate>PLASMA</ion-nav-title>
    <!--
    <ion-content class="ion-content-custom">
    -->
    <ion-content>
    <div class="row row_menu_nagusia">
           <!-- <div class="col col_flex_none col_menu_nagusia">    
                <div class="div_menu_nagusia" ng-include src="'templates_mugikorra/menu_nagusia.html'"></div>
            </div>-->
        <div class="col col_flex_none">
        <div id="id_div_plasma_pantaila_piztu_itzali">   
          <h4 translate>PANTAILA PIZTU/ITZALI</h4>
            <div class="row" style="display:none;">        
                <div class="col col-50">
                    <button id="id_button_nagusia_plasma_piztu" class="button button-block" ng-click="nagusia_plasma_piztu_click();" translate>PIZTU</button>
                </div>
                <div class="col col-50">
                  <button id="id_button_nagusia_plasma_itzali" class="button button-block" ng-click="nagusia_plasma_itzali_click();" translate>ITZALI</button>
                </div>                
            </div>
            <div class="row">
                <div class="col col_flex_none">
                    <ion-toggle toggle-class="toggle-calm" ng-model=plasma_piztu ng-disabled=plasma_piztu_disabled ng-click="plasma_piztu_toggle_change()">&nbsp;</ion-toggle>
                </div>
            </div>    
            <div class="row">    
                <div class="col col_flex_none col_plasma_egoera">
                    <input id="id_plasma_piztu_text" type="text" class="input-text-border" value="{{plasma_piztu_text}}"  size="45" readonly="readonly"/>
                </div>
            </div>  
        </div>
        <div id="id_div_plasma_aukeratu">   
          <h4 translate>AUKERATU</h4>
            <div class="row">
                <div class="col col-50">
                  <button id="id_button_nagusia_plasma_dvd" class="button button-block" ng-click="nagusia_plasma_dvd_click();" translate>DVD</button>
                </div>
                <!--
                <div class="col col-50">
                  <button id="id_button_nagusia_plasma_dvdgrab" class="button button-block" ng-click="nagusia_plasma_dvdgrab_click();" translate>DVDGRAB</button>
                </div>
                -->
            </div>
            <div class="row">
                <div class="col col_flex_none">
                  <button id="id_button_nagusia_plasma_camara_de_documentos" class="button button-block" ng-click="nagusia_plasma_dokumentu_kamera_click();" translate>DOKUMENTU KAMERA</button>
                </div>
            </div>            
            <div class="row">        
                <div class="col col-50">
                    <button id="id_button_nagusia_plasma_portatil1" class="button button-block" ng-click="nagusia_plasma_portatil1_click();"><translate>PORTATIL</translate>1</button>
                </div>
                <div class="col col-50">
                  <button id="id_button_nagusia_plasma_portatil2" class="button button-block" ng-click="nagusia_plasma_portatil2_click();"><translate>PORTATIL</translate>2</button>
                </div>
            </div>    
            <div class="row">    
                <div class="col col-50">
                  <button id="id_button_nagusia_plasma_portatil3" class="button button-block" ng-click="nagusia_plasma_portatil3_click();"><translate>PORTATIL</translate>3</button>
                </div>
                <!--
                <div class="col col-50">
                  <button id="id_button_nagusia_plasma_think_client" class="button button-block" ng-click="nagusia_plasma_think_client_click();" translate>THINK CLIENT</button>
                </div>
                -->
            </div>
            <div class="row">                
                <div class="col col-50">
                  <button id="id_button_nagusia_plasma_pcsuelo" class="button button-block" ng-click="nagusia_plasma_pclurra_click();" translate>PCLURRA</button>
                </div>
                <div class="col col-50">
                  <button id="id_button_nagusia_plasma_atril" class="button button-block" ng-click="nagusia_plasma_atril_click();" translate>ATRIL</button>
                </div>               
            </div>
            <!--intelsat-2015-->
            <div class="row">
                <div class="col col-50">
                  <button id="id_button_nagusia_plasma_camara1" class="button button-block" ng-click="nagusia_plasma_kamera1_click();"><translate>KAMERA</translate>1</button>
                </div>             
            </div>
        </div>
        </div>
    </div>        
    </ion-content>    
</ion-view>