<ion-view cache-view="false">
    <ion-nav-title translate>SARRERA</ion-nav-title>
    <!--
    <ion-content class="ion-content-custom">
    -->
    <ion-content>
       <!-- <div class="row row_menu_nagusia">
            <div class="col col_flex_none col_menu_nagusia">    
                <div class="div_menu_nagusia" ng-include src="'templates_mugikorra/menu_nagusia.html'"></div>
            </div>-->
        <div class="col col_flex_none">
        <div id="id_div_sarrera_pantaila_piztu_itzali">   
          <h4 translate>PANTAILA PIZTU/ITZALI</h4>
            <div class="row" style="display:none;">         
                <div class="col col-50">
                    <button id="id_button_nagusia_sarrera_piztu" class="button button-block" ng-click="nagusia_sarrera_piztu_click($event);" translate>PIZTU</button>
                </div>
                <div class="col col-50">
                  <button id="id_button_nagusia_sarrera_itzali" class="button button-block" ng-click="nagusia_sarrera_itzali_click($event);" translate>ITZALI</button>
                </div>                
            </div>
            <div class="row">
                <div class="col col_flex_none">
                    <ion-toggle toggle-class="toggle-calm" ng-model=sarrera_piztu ng-disabled=sarrera_piztu_disabled ng-change="sarrera_piztu_toggle_change()">&nbsp;</ion-toggle>
                </div>
            </div>    
            <div class="row">    
                <div class="col col_flex_none col_plasma_egoera">
                    <input id="id_sarrera_piztu_text" type="text" class="input-text-border" value="{{sarrera_piztu_text}}" size="45" readonly="readonly"/>
                </div>
            </div> 
        </div>
        <div id="id_div_sarrera_aukeratu">   
          <h4 translate>AUKERATU</h4>
            <div class="row">
                <div class="col col-50">
                  <button id="id_button_nagusia_sarrera_dvd" class="button button-block" ng-click="nagusia_sarrera_dvd_click($event);" translate>DVD</button>
                </div>
                <!--
                <div class="col col-50">
                  <button id="id_button_nagusia_sarrera_dvdgrab" class="button button-block" ng-click="nagusia_sarrera_dvdgrab_click($event);" translate>DVDGRAB</button>
                </div>
                -->
            </div>
            <div class="row">
                <div class="col col_flex_none">
                  <button id="id_button_nagusia_sarrera_camara_de_documentos" class="button button-block" ng-click="nagusia_sarrera_dokumentu_kamera_click($event);" translate>DOKUMENTU KAMERA</button>
                </div>
            </div>
            
            <div class="row">        
                <div class="col col-50">
                    <button id="id_button_nagusia_sarrera_portatil1" class="button button-block" ng-click="nagusia_sarrera_portatil1_click($event);"><translate>PORTATIL</translate>1</button>
                </div>
                <div class="col col-50">
                  <button id="id_button_nagusia_sarrera_portatil2" class="button button-block" ng-click="nagusia_sarrera_portatil2_click($event);"><translate>PORTATIL</translate>2</button>
                </div>
            </div>
            <div class="row">
                <div class="col col-50">
                  <button id="id_button_nagusia_sarrera_portatil3" class="button button-block" ng-click="nagusia_sarrera_portatil3_click($event);"><translate>PORTATIL</translate>3</button>
                </div>
                <!--
                <div class="col col-50">
                  <button id="id_button_nagusia_sarrera_think_client" class="button button-block" ng-click="nagusia_sarrera_think_client_click($event);" translate>THINK CLIENT</button>
                </div>
                -->
            </div>
            <div class="row">                
                <div class="col col-50">
                  <button id="id_button_nagusia_sarrera_pcsuelo" class="button button-block" ng-click="nagusia_sarrera_pclurra_click($event);" translate>PCLURRA</button>
                </div>
                <div class="col col-50">
                  <button id="id_button_nagusia_sarrera_atril" class="button button-block" ng-click="nagusia_sarrera_atril_click($event);" translate>ATRIL</button>
                </div>               
            </div>
        </div>
        </div>
    </div>          
    </ion-content>
</ion-view>