<ion-view cache-view="false" class="think">
    <ion-nav-title translate>THINK CLIENT SAREA</ion-nav-title>    
    <ion-content>
   <!-- <div class="row row_menu_nagusia">
            <div class="col col_flex_none col_menu_nagusia">    
                <div class="div_menu_nagusia" ng-include src="'templates_mugikorra/menu_nagusia.html'"></div>
            </div>-->
        <div class="col col_flex_none">    
            <div class="row">        
                <div class="col col_flex_none">
                    <button id="id_button_nagusia_think_client_sarea_portatil1" class="button button-block" ng-click="thin_client_sarea_portatil1_click($event);"><translate>PORTATIL</translate>1</button>
                </div>
            </div>
            <div class="row">
                <div class="col col_flex_none">
                  <button id="id_button_nagusia_think_client_sarea_portatil2" class="button button-block" ng-click="thin_client_sarea_portatil2_click($event);"><translate>PORTATIL</translate>2</button>
                </div>
            </div>
            <div class="row">
                <div class="col col_flex_none">
                  <button id="id_button_nagusia_think_client_sarea_portatil3" class="button button-block" ng-click="thin_client_sarea_portatil3_click($event);"><translate>PORTATIL</translate>3</button>
                </div>
            </div>
            <div class="row">        
                <div class="col col_flex_none">
                  <button id="id_button_nagusia_think_client_sarea_think_client" class="button button-block" ng-click="thin_client_sarea_think_client_click($event);" translate>THINK CLIENT</button>
                </div>
            </div> 
            <div class="row">
                <div class="col col_flex_none">
                  <button id="id_button_nagusia_think_client_sarea_pcsuelo" class="button button-block" ng-click="thin_client_sarea_pclurra_click($event);" translate>PCLURRA</button>
                </div>
            </div>
            <div class="row">
                <div class="col col_flex_none">
                  <button id="id_button_nagusia_think_client_sarea_camara_de_documentos" class="button button-block" ng-click="thin_client_sarea_dokumentu_kamera_click($event);" translate>DOKUMENTU KAMERA</button>
                </div>
            </div>
            <div class="row">        
                <div class="col col_flex_none">
                  <button id="id_button_nagusia_think_client_sarea_atril" class="button button-block" ng-click="thin_client_sarea_atril_click($event);" translate>ATRIL</button>
                </div>               
            </div>
        </div>
    </div>    
    </ion-content>
</ion-view>